<div class="grid grid-nogutter mt-3">
  <div class="col-12">
    <p-card>
      <p-header>
        <div class="grid grid-nogutter">
          <div class="col-12">
            <span class="p-card-title ml-3"><i class="fa fa-calendar"></i> Full Calendar Example</span>
            <button
              id="add-event"
              type="button"
              pButton
              style="float: right; margin-right: 10px; margin-top: 8px"
              label="Add Event"
              (click)="addEvent()"
            ></button>
          </div>
          <div class="col-12">
            <hr />
          </div>
        </div>
      </p-header>
      <div>
        <p-fullCalendar #fc [events]="events" [options]="options"></p-fullCalendar>
        <p-overlayPanel #op>
          <label>Title:{{ popOverTitle }}</label>
        </p-overlayPanel>
      </div>
    </p-card>
  </div>
</div>
