.fc-popover.fc-more-popover {
  background-color: black;
  .fc-header.fc-widget-header {
    background-color: black;
  }
}

a.fc-day-grid-event {
  cursor: pointer;
}

.event-hover {
  border-width: 1px;
  border-style: solid;
  border-color: #333286;
}
