.fc-popover.fc-more-popover {
  background-color: black;
  .fc-header.fc-widget-header {
    background-color: black;
  }
}

a.fc-day-grid-event {
  cursor: pointer;
}

.event-hover {
  border-width: 1px;
  border-style: solid;
  border-color: #333286;
}

.fc-highlight {
  background-color: #716ff0;
}

.fc-more {
  color: #dcdcdc;
}

.fc-title {
  padding-left: 6px;
}

.fc {
  .fc-toolbar {
    .fc-button {
      display: inline-block;
    }
  }
}
