<div class="ui-g">
  <h1 class="ui-g-12 align-text-center">About</h1>
  <div class="ui-g-12">
    <hr />
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6 ui-g-offset-3">
    <p-card>
      <div>
        <h1>Information</h1>
        <div>This site is powered by: Github Pages</div>
        <br />
      </div>
      <div>
        <div>
          This is an open source project created by BrianWuest(me) and is intended to store examples of components or setup of an angular project and components/libraries
        </div>
        <br />
        <h1>Trademarks</h1>
        <div>All Trademarks used (if any) on this site are registered Trademarks of their respective companies.</div>
      </div>
    </p-card>
  </div>
</div>
